# Configurações do GitHub e Firebase
GITHUB_PERSONA_KEY=ghp_seu_token_aqui

FIREBASE_apiKey=seu_firebase_api_key
FIREBASE_authDomain=seu_projeto.firebaseapp.com
FIREBASE_projectId=seu_projeto_id
FIREBASE_storageBucket=seu_projeto.firebasestorage.app
FIREBASE_messagingSenderId=seu_sender_id
FIREBASE_appId=seu_app_id
